page-logo {
  background-color: black;

  ion-title{
    text-align: center;
    font-weight: 600;
  }

  button{
    border: none;
    text-align: center;
    vertical-align: center;
    padding: 230px 100%;  
  }

  p{
    font-style: italic;
    text-align: center;
    color: white;
  }
}