page-logo {
  background-color: black;

  ion-title{
    text-align: center;
  }

  button{
    background-image: url('../../assets/img/logo_bubale.jpeg');
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-position: center center; 
    height: 400px;
    width: 100%;
  }

  p{
    font-style: italic;
    text-align: center;
    color: white;
  }
}